
<h1> Practice you codes for being a cashier at <%= link_to "Kin's Farm Market", "http://www.kinsfarmmarket.com" %> </h1>

<% if flash['message'] %>
  <%= flash['message'] %> </br>
<% end %>

<h2> <%= @item.question %> </h2>


<%=form_tag('/welcome/test', method: 'post') do %>

  <%= label_tag("code") %>
  <%= text_field_tag("answer") %>
  <%= submit_tag("Enter") %>
  <%= hidden_field_tag :question, @item.question %>

<% end %>


