<img src="http://kinsfarmmarket.com/wp-content/themes/oceano/images/k-man_logo.png" alt="farmer">


<% if flash['correct'] == false %> 
  <% color = "red" %>
<% else %>
  <% color = "black" %>
<% end %> 

<h2> Practice your codes for <%= link_to "Kin's Farm Market", "http://www.kinsfarmmarket.com" %>. </h2>

<p style="color:<%=color%>">
<% if flash['message'] %>
  <%= flash['message'] %>
<% end %>
</p>

<h2> <%= @item.question %> </h2>


<%=form_tag('/welcome/test', method: 'post') do %>

  <%= label_tag("code") %>
  <%= text_field_tag("answer") %>
  <%= submit_tag("Enter") %>
  <%= hidden_field_tag :question, @item.question %>

<% end %>


